<?xml version="1.0"?>
<phpunit
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	beStrictAboutTestsThatDoNotTestAnything="true"
	verbose="true"
>
	<testsuites>
		<testsuite name="security">
			<directory suffix=".php">./tests/phpunit/</directory>
		</testsuite>
	</testsuites>

	<coverage processUncoveredFiles="true">
		<include>
			<directory suffix=".php">./inc</directory>
			<file>./remove-dashboard-access.php</file>
			<file>./uninstall.php</file>
		</include>
		<exclude>
			<directory>./tests</directory>
			<directory>./vendor</directory>
			<directory>./node_modules</directory>
		</exclude>
	</coverage>
</phpunit>
